body {
  background-color: #FDFCFD;
}

.topheader {
height: 130px;
width: 100px;

background-color: #FDFCFD;
}

.menu {
height: 70px;
padding: 10px;
background-color: #D9D4CF;
}

.slide-image {
height: auto;
/* width: auto; */
/* background-color: orange; */
}

.search {
height: 80px;
padding: 20px;
background-color: #FDFCFD;
}

.featured-projects {
height: auto;
background-color: #D9D4CF;
}

.about-us {
height: 130px;
background-color: #FDFCFD;
}

.footer {
height: 25px;
padding: 2px;
color: aliceblue;
background-color: #1D2B27;
}

.more-projects {
  padding: 20px;
}

.login {
  padding: 10px;
}

.h1color {
  color: #47BFC2;
}
.scienceExperiment {
  height: 300px;
  width: 320px;
}
.standingDesks {
  height: 300px;
  width: 320px;
}
.chromebooks {
  height: 300px;
  width: 320px;
}

.mid {
  padding: 30px;
}