<div class="container-fluid">


    <div class="row top-header">
        <div class="col-md-12 text-center">

        </div>
    </div>

    <div class="row menu text-center">
        <div class="col-md-7">
            <img src="./images/logo.png" alt="">
            <a ui-sref="projects">PROJECTS</a> |
            <a ui-sref="home">HOME</a> |
            <a ui-sref="teachers">TEACHERS</a> |
            <a ui-sref="patrons">PATRONS</a> | ABOUT US | HELP</div>
        <div class="col-md-5 login">LOGIN
            <button ui-sref="patronCreate">Patron Sign Up</button>
            <button ui-sref="teacherCreate">Teacher Sign Up</button>
            
        </div>




    </div>
</div>

<div class="row slide-image">
    <div class="col-md-12">
        <img src="./images/header.jpg" class="w3-round-xlarge" alt="Norway" style="width:100%">
    </div>
</div>

<!-- <input class="form-control" type="text">
                <button class="btn btn-success">SEARCH</button> -->

<div class="row search">
    <div class="col-md-12 text-center"></div>

    <div class="col-md-4 text-center"></div>
    <div class="col-md-4 text-center">

        <div class="col-md-12 text-center">
            <input class="form-control input-lg" type="text" placeholder="Search topics, teachers and schools">
        </div>
        <!-- <div class="col-md-6 text-center">
            <button class="btn btn-success">SEARCH</button>
        </div> -->
    </div>
    <div class="col-md-4 text-center"></div>


</div>

</div>

<div class="row featured-projects">
    <div class="col-md-12 text-center">
        <H2 class="h1color">RECENT PROJECTS</H2>
    </div>
    <div class="col-md-3 text-center"></div>
    <div class="col-md-2 text-center">
        <H3>Mrs. Quinn-Vasic’s</H3>
        <p>
            <img src="./images/p1.png" alt="">
        </p>
        <p>My students need to be able to move while they learn! Movement helps children regulate their bodies so that they can concentrate and retain new information.</p>
    </div>
    <div class="col-md-2 text-center">
        <H3>B-B-Bounce for Better</H3>
        <p>
            <img src="./images/p1.png" alt="">
        </p>
        <p>My students need to be able to move while they learn! Movement helps children regulate their bodies so that they can concentrate and retain new information.</p>
    </div>
    <div class="col-md-2 text-center">
        <H3>Freedom Drum Project</H3>
        <p>
            <img src="./images/p1.png" alt="">
        </p>
        <p>My students need to be able to move while they learn! Movement helps children regulate their bodies so that they can concentrate and retain new information.</p>
    </div>
    <div class="col-md-3 text-center"></div>
   
    <div class="row">
            <div class="col-md-4 text-center"></div>
            <div class="col-md-4 more-projects text-center">
                    <button class="btn btn-default btn-lg btn-block">See all most urgent projects</button></div>
            <div class="col-md-4 text-center"></div>

</div>

            
</div>

<div class="row about-us text-center">
    <div class="col-md-12">
        <H2>ABOUT US</H2>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-8">Founded in 2018 by Redwood Students Corey and David , School Patron empowers public school teachers from across the country
        to request much-needed materials and experiences for their students. Right now there are thousands of classroom requests
        that you can help bring to life with a gift of any amount.</div>
    <div class="col-md-2"></div>


</div>

<div class="row footer text-center">
    <p>SchoolPatron.com | 2018 </p>
</div>

</div>
