<div class="container-fluid">


    <div class="row top-header">
        <div class="col-md-12 text-center">

        </div>
    </div>

    <div class="row menu text-center">
        <div class="col-md-7">
            <img src="./images/logo.png" alt="">
            <a ui-sref="projects">PROJECTS</a> |
            <a ui-sref="home">HOME</a> |
            <a ui-sref="teachers">TEACHERS</a> |
            <a ui-sref="patrons">PATRONS</a> | ABOUT US | HELP</div>
        <div class="col-md-5 login">LOGIN
            <button ui-sref="patronCreate">Patron Sign Up</button>
            <button ui-sref="teacherCreate">Teacher Sign Up</button>

        </div>




    </div>
</div>

<div class="row slide-image">
    <div class="col-md-12">
        <img src="./images/header.jpg" class="w3-round-xlarge" alt="Norway" style="width:100%">
    </div>
</div>

<!-- <input class="form-control" type="text">
                <button class="btn btn-success">SEARCH</button> -->

<div class="row search">
    <div class="col-md-12 text-center"></div>

    <div class="col-md-4 text-center"></div>
    <div class="col-md-4 text-center">

        <div class="col-md-12 text-center">
            <input class="form-control input-lg" type="text" placeholder="Search topics, teachers and schools">
        </div>
        <!-- <div class="col-md-6 text-center">
            <button class="btn btn-success">SEARCH</button>
        </div> -->
    </div>
    <div class="col-md-4 text-center"></div>


</div>

</div>

<div class="row featured-projects">
    <div class="col-md-12 text-center">
        <H2 class="h1color">RECENT PROJECTS</H2>
    </div>
    <div ui-sref="project({id: 1})" class="col-md-4 text-center">
        <H3>Science Through Games</H3>
        <p>
            <img class="scienceExperiment" src="./images/scienceExperiment.jpg" alt="">
        </p>
        <p>Your donation will make my students Happy as they will be able to decipher hidden codes, visualize intrinsic patterns, solve challenging puzzles and also create their own .</p>
    </div>
    <div ui-sref="project({id: 2})" class="col-md-4 text-center">
        <H3>Stand Up For Math</H3>
        <p>
            <img class="standingDesks" src="./images/standingDesks.JPG" alt="">
        </p>
        <p>The ability to stand and fidget, while still remaining actively engaged is amazing! This also gives students lateral space and a new perspective for thinking through math challenges. Flexible seating is an innovative way to encourage student learning in an otherwise traditional space.</p>
    </div>
    <div ui-sref="project({id: 3})" class="col-md-4 text-center">
        <H3>Classroom Chromebooks</H3>
        <p>
            <img class="chromebooks" src="./images/chromebooks.jpeg" alt="">
        </p>
        <p>My students need 10 Chromebooks and Google EDU Management Console Licenses. My students are high school seniors who are simultaneously excited for and terrified by the prospect of college. In order to help them prepare for the academic demands of college, I have placed a heavy writing requirement in our ELA class spanning essays, poetry, memoirs, etc.</p>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 more-projects text-center">
            <button ui-sref="projects" class="btn btn-default text-center btn-lg btn-block">See all most urgent projects</button>
        </div>
        <div class="col-md-4"></div>
    </div>


</div>

<div class="row about-us text-center">
    <div class="col-md-12">
        <H2>ABOUT US</H2>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-8">Founded in 2018 by Redwood Students Corey and David , School Patron empowers public school teachers from across the country
        to request much-needed materials and experiences for their students. Right now there are thousands of classroom requests
        that you can help bring to life with a gift of any amount.</div>
    <div class="col-md-2"></div>


</div>

<div class="row footer text-center">
    <p>SchoolPatron.com | 2018 </p>
</div>

</div>