<div class="patron">
  <div class="container">
    <h1 class="text-center patron-h1">Patrons</h1>
    <div class="form-group col-md-12">
      <input type="text" class="form-control" placeholder="Search for a patron" ng-model="patronSearch">
    </div>
    <div class="row patron-section">
      <table class="table table-hover">
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Password</th>
        </tr>
        <tr ng-repeat="patron in patrons | filter: patronSearch" ui-sref="patron({id: patron.id})">
          <td>{{ patron.id }}</td>
          <td>{{ patron.firstName }}</td>
          <td>{{ patron.lastName }}</td>
          <td>{{ patron.email }}</td>
          <td>{{ patron.password }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>