<div class="patron-form">

  <div class="container">

    <h1 class="text-center patron-form-header">{{ heading }}</h1>

    <h3 class="patron-section-header">Patron Information</h3>

    <form ng-submit="addPatron(patron)" ng-submit="updatePatron(patron)">

      <div class="form-group col-md-6">
        <label>First Name</label>
        <input type="text" class="form-control" placeholder="Bill" ng-model="patron.firstName" required="required">
      </div>

      <div class="form-group col-md-6">
        <label>Last Name</label>
        <input type="text" class="form-control" placeholder="Gates" ng-model="patron.lastName" required="required">
      </div>

      <div class="form-group col-md-6">
        <label>Email</label>
        <input type="email" class="form-control" placeholder="billgates@microsoft.com" ng-model="patron.email" required="required">
      </div>

      <div class="form-group col-md-6">
        <label>Password</label>
        <input type="password" class="form-control" ng-model="patron.password" required="required">
      </div>

      <button type="submit" class="btn btn-primary btn-lg pull-right" ng-show="submitButton">Submit</button>
      <button type="submit" class="btn btn-success btn-lg pull-right" ng-show="!submitButton">Save</button>
    </form>
  </div>
</div>