<div class="container">
    <div class="teacher-bg">
        <div class="container">
            <div class="row">
                <h1 class="text-center">{{ teacher.firstName }} {{ teacher.lastName }}</h1>
                <p>
                    <strong>Email: </strong>{{ teacher.email }}</p>
                <p>
                    <strong>Password: </strong>***********</p>
                <p>
                    <strong>Grade Level: </strong>{{ teacher.gradeLevel }}</p>
                <p>
                    <strong>Bio: </strong>{{ teacher.bio }}</p>
                <p>
                    <strong>School Id: </strong>{{ teacher.schoolId }}</p>
                <button class="btn btn-sm btn-info" ui-sref="teacherUpdate({id: teacher.id})">Update</button>
                <button class="btn btn-sm btn-danger" ng-click="deleteTeacher()">Delete</button>
                <button class="btn btn-sm btn-success pull-right" ui-sref="projectCreate">Add a Project</button>

                <div class="row project-section mid">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Subject</th>
                            <th>Grade Level</th>
                            <th>Goal Reached?</th>
                            <th>Teacher Id</th>
                            <th>School Id</th>
                        </tr>
                        <tr ng-repeat="project in teacherProjects | filter: projectSearch" ui-sref="project({id: project.id})">
                            <td>{{ project.id }}</td>
                            <td>{{ project.name }}</td>
                            <td>{{ project.startDate }}</td>
                            <td>{{ project.endDate }}</td>
                            <td>{{ project.subject }}</td>
                            <td>{{ project.gradeLevel }}</td>
                            <td>{{ project.goalReached }}</td>
                            <td>{{ project.teacherId }}</td>
                            <td>{{ project.schoolId }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>