<div class="container-fluid">
    <div class="teacher-bg">
        <div class="container-fluid">
            <div class="row">
                <h1 class="text-center">{{ teacher.firstName }} {{ teacher.lastName }}</h1>
                <p>
                    <strong>Email: </strong>{{ teacher.email }}</p>
                <p>
                    <strong>Password: </strong>{{ teacher.password }}</p>
                <p>
                    <strong>Grade Level: </strong>{{ teacher.gradeLevel }}</p>
                <p>
                    <strong>Bio: </strong>{{ teacher.bio }}</p>
                <p>
                    <strong>School Id: </strong>{{ teacher.schoolId }}</p>
                <button class="btn btn-sm btn-info" ui-sref="teacherUpdate({id: teacher.id})">Update</button>
                <button class="btn btn-sm btn-danger" ng-click="deleteTeacher()">Delete</button>

                <button class="btn btn-sm btn-success pull-right" ui-sref="projectCreate">Add a Project</button>

                <!-- Ask Billy on Wed -->
                <!-- How would we pass in a teacherID into new project
                Example: teacher/3/project/new -->

            </div>
        </div>
    </div>
</div>